body{
    background-color: hotpink;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header{
    background-color: blue;
    margin: 0;
    height: 10vh;
    width: 100vw;
}

.container{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.home_form{
    display: flex;
    flex-direction: column;
    padding: 100px;
    border: 5px solid black;
    height: 400px;
}

h1{
    margin: 0;
}

.room_form{
    margin-top: 2px;
}

.room{
    margin-bottom: -2px;
    border-bottom: 2px inset black;
    border-top: 2px inset black;
}

.message{
    border-bottom: 2px inset black;
}